@model Project
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Service</h3></div>
                    <div class="card-body">
                        <form method="post" action="/admin/Project/Edit" enctype="multipart/form-data">
                            <div class="form-group d-flex justify-content-between">
                                <label for="id">ID</label>
                                <input asp-for="ID" type="text" class="form-control w-50" id="id" readonly />
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="Name">New Name</label>
                                        <div class="w-50">
                                            <input asp-for="Name" type="text" class="form-control w-100" id="Name" placeholder="Enter New Name" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="Type">New Type</label>
                                        <div class="w-50">
                                            <input asp-for="Type" type="text" class="form-control w-100" id="Type" placeholder="Enter New Type" />
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3">
                                        <label for="Description" class="w-100 text-center mb-3">Description</label>
                                        <div class="w-100">
                                            <textarea asp-for="Description" name="Description" id="text"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="WebsiteLink">New URL</label>
                                        <div class="w-50">
                                            <input asp-for="WebsiteLink" type="text" class="form-control w-100" id="WebsiteLink" placeholder="Enter URL" />
                                            <span asp-validation-for="WebsiteLink" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 mb-md-3 d-flex align-items-center justify-content-between">
                                        <label for="ThumbNail">New Image</label>
                                        <div class="w-50">
                                            <label asp-for="ThumbNailFile" class="control-label"></label>
                                            <div class="w-100">
                                                <input asp-for="ThumbNailFile" class="custom-file-input d-none" type="file" />
                                                <span asp-validation-for="ThumbNail" class="text-danger d-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-0 d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="submit" asp-area="Admin" asp-controller="Project" asp-action="Index" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script>
    ClassicEditor
        .create(document.querySelector('#text'), {
            toolbar: [
                'heading', '|', 'bold', 'italic', 'underline', '|',
                'bulletedList', 'numberedList', '|',
                'alignment', '|', 'undo', 'redo'
            ]
        })
        .catch(error => {
            console.error(error);
        });
</script>